# =====================
# ENV & SECRETS
# =====================
.env
.env.*
frontend.env.local

# =====================
# Python
# =====================
__pycache__/
*.pyc
.pytest_cache/
pytest.ini

# =====================
# Node / Next.js
# =====================
node_modules/
.next/
out/

# =====================
# Build / Cache
# =====================
dist/
build/

# =====================
# Áudio / Binários
# =====================
*.wav
*.mp3
*.exe
ngrok.exe
output_sounds/

# =====================
# Logs & temp
# =====================
*.log
*.tmp

# =====================
# OS
# =====================
.DS_Store
Thumbs.db
