aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
aiosqlite==0.22.0
altair==5.5.0
altgraph==0.17.5
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
arrow==1.4.0
asyncio-contextmanager==1.0.1
attrs==25.3.0
audioop-lts==0.2.2
autogen-agentchat==0.7.5
autogen-core==0.7.5
banks==2.2.0
bcrypt==5.0.0
beautifulsoup4==4.13.4
binaryornot==0.4.4
blinker==1.9.0
cachetools==5.5.2
certifi==2025.11.12
cffi==2.0.0
chardet==3.0.4
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
colorlog==6.10.1
contourpy==1.3.3
cookiecutter==2.6.0
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
dataclasses-json==0.6.7
deep-translator==1.11.4
defusedxml==0.7.1
Deprecated==1.2.18
dirtyjson==1.0.8
distro==1.9.0
dnspython==2.8.0
docopt==0.6.2
ecdsa==0.19.1
email-validator==2.3.0
et_xmlfile==2.0.0
fastapi==0.127.0
ffmpeg-python==0.2.0
filelock==3.20.1
filetype==1.2.0
flet==0.80.0
flet-audio==0.80.0
flet-charts==0.2.0.dev534
flet-cli==0.28.3
flet-desktop==0.80.0
flet-map==0.80.0
flet-video==0.80.0
flet-web==0.28.3
fonttools==4.61.1
frozenlist==1.6.0
fsspec==2025.12.0
future==1.0.0
git-filter-repo==2.47.0
gitdb==4.0.12
GitPython==3.1.44
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.166.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.4
googleapis-common-protos==1.69.2
greenlet==3.2.1
griffe==1.15.0
grpcio==1.71.0
grpcio-status==1.71.0
h11==0.16.0
h2==3.2.0
hpack==3.0.0
hstspreload==2025.1.1
httpcore==1.0.9
httplib2==0.22.0
httptools==0.7.1
httpx==0.28.1
huggingface-hub==0.36.0
hyperframe==5.2.0
idna==2.10
importlib_metadata==8.7.0
iniconfig==2.3.0
Jinja2==3.1.6
jiter==0.12.0
joblib==1.5.3
Js2Py==0.74
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyboard==0.13.5
kiwisolver==1.4.9
limits==5.6.0
llama-cloud==0.1.35
llama-cloud-services==0.6.54
llama-index==0.14.10
llama-index-cli==0.5.3
llama-index-core==0.14.10
llama-index-embeddings-huggingface==0.6.1
llama-index-embeddings-openai==0.5.1
llama-index-indices-managed-llama-cloud==0.9.4
llama-index-instrumentation==0.4.2
llama-index-llms-ollama==0.9.0
llama-index-llms-openai==0.6.12
llama-index-readers-file==0.5.5
llama-index-readers-llama-parse==0.5.1
llama-index-workflows==2.11.5
llama-parse==0.6.54
lxml==5.4.0
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.8
mdurl==0.1.2
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.1.2
multidict==6.4.3
mypy_extensions==1.1.0
narwhals==1.35.0
nest-asyncio==1.6.0
networkx==3.6.1
nltk==3.9.2
numpy==2.2.3
oauthlib==3.3.1
ollama==0.6.1
openai==2.12.0
opencv-python==4.11.0.86
openpyxl==3.1.5
opentelemetry-api==1.39.1
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
passlib==1.7.4
pefile==2024.8.26
pillow==11.1.0
pipwin==0.5.2
platformdirs==4.5.1
playwright==1.52.0
plotly==6.5.0
pluggy==1.6.0
propcache==0.3.1
proto-plus==1.26.1
protobuf==5.29.4
psutil==7.1.3
psycopg2-binary==2.9.11
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAudio==0.2.14
pyautogen==0.10.0
PyAutoGUI==0.9.54
pycparser==2.23
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
pydeck==0.9.1
pyee==13.0.0
PyGetWindow==0.0.9
Pygments==2.19.2
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.10
pyjsparser==2.7.1
PyMsgBox==1.0.9
pyparsing==3.2.3
pypdf==6.4.2
pyperclip==1.9.0
pypiwin32==223
pypng==0.20220715.0
PyPrind==2.11.3
PyRect==0.2.0
PyScreeze==1.0.1
pySmartDL==1.3.4
PySocks==1.7.1
pystray==0.19.5
pytest==9.0.2
pytest-asyncio==1.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-jose==3.5.0
python-multipart==0.0.21
python-slugify==8.0.4
pytweening==1.2.0
pytz==2025.2
pywin32==311
pywin32-ctypes==0.2.3
PyYAML==6.0.3
qrcode==7.4.2
redis==7.1.0
referencing==0.36.2
regex @ file:///C:/Users/Kennedy%20Oliveira/Desktop/Nova%20pasta/regex-2024.11.6-cp313-cp313-win_amd64.whl#sha256=2b3361af3198667e99927da8b84c1b010752fa4b1115ee30beaa332cabc3ef1a
repath==0.9.0
requests==2.32.3
rfc3986==1.5.0
rich==14.2.0
rpds-py==0.24.0
rsa==4.9
safetensors==0.7.0
scikit-learn==1.8.0
scipy==1.16.3
selenium==4.39.0
sentence-transformers==5.2.0
sentry-sdk==2.48.0
setuptools==80.9.0
six==1.17.0
slowapi==0.1.9
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.5.3
soupsieve==2.7
SpeechRecognition==3.14.4
SQLAlchemy==2.0.45
standard-aifc==3.13.0
standard-chunk==3.13.0
starlette==0.50.0
streamlit==1.44.1
stripe==14.1.0
striprtf==0.0.26
sympy==1.14.0
tenacity==9.1.2
text-unidecode==1.3
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.22.1
toml==0.10.2
torch==2.9.1
tornado==6.4.2
tqdm==4.67.1
transformers==4.57.3
trio==0.32.0
trio-websocket==0.12.2
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
undetected-chromedriver==3.5.5
uritemplate==4.1.1
urllib3==2.6.2
uvicorn==0.40.0
watchdog==4.0.2
watchfiles==1.1.1
websocket-client==1.9.0
websockets==15.0.1
wrapt==1.17.3
wsproto==1.3.2
yarl==1.20.0
zipp==3.23.0
